<h1 class="animated fadeIn">{{ _heroe.nombre | uppercase }} <small>({{ _heroe.aparicion | date:'y' }})</small> </h1>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [src]="_heroe.img" class="img-fluid" [alt]="_heroe.nombre">
    <br><br>
    <a [routerLink] = "['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>
  <div class="col-md-8">
    <h3>{{ _heroe.nombre }}</h3>
    <br>
    <p>
      {{ _heroe.bio }}
    </p>
    <div>
      <img class="img-logo" *ngIf="!esMarvel()" src="assets/img/dc_comics.png" [alt]="_heroe.casa">
      <img class="img-logo" *ngIf="esMarvel()" src="assets/img/marvel_comics.png" [alt]="_heroe.casa">
    </div>
  </div>
</div>
